[submodule "doors_and_windows/third_party/HomeSpan"]
	path = doors_and_windows/third_party/HomeSpan
	url = https://github.com/HomeSpan/HomeSpan.git
[submodule "garage_door_opener/third_party/HomeSpan"]
	path = garage_door_opener/third_party/HomeSpan
	url = https://github.com/HomeSpan/HomeSpan.git
[submodule "fireplace_switch/third_party/HomeSpan"]
	path = fireplace_switch/third_party/HomeSpan
	url = https://github.com/HomeSpan/HomeSpan.git
[submodule "night_light_2/third_party/HomeSpan"]
	path = night_light_2/third_party/HomeSpan
	url = https://github.com/HomeSpan/HomeSpan.git
